#home-cover {
    background: url("../images/homepage.png") no-repeat center top / cover;
}

.grey-fade-over {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #323232;
    opacity: .7;
    z-index: 300;
}

.more-more-width-btn {
    width: 280px;
}