.timeline a {
    cursor: pointer;
}

#brainstorm .content-section,
#research .content-section{
    padding: 20px;
}
#brainstorm .col-lg-10 h4,
#research .col-lg-10 h4 {
    color: #386EEA;
}

h4 {
    font-weight: bold;
}

.project-introduction,
.project-journey {
    padding-top: 30px;
}

.project-introduction .container,
.project-journey .container {
    padding: 40px;
    background: #FAFAFA;
    box-shadow: 0px 0px 10px rgba(99, 123, 150, 0.2);
    border-radius: 20px;
}

.timeline .pic{
    padding: 30px 30px 0px 30px;
    margin: 0px 30px 0px 30px;
}

.timeline .row{
    padding: 0px 30px 0px 30px;
    margin: 0px 30px 0px 30px;
}

.timeline .pic .col-lg-2,
.timeline .pic .col-lg-1 {
    min-height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.timeline .pic .col-lg-2 img,
.timeline .pic .col-lg-1 img{
    align-self: center;
    border-radius: 8%;
}

.timeline .fade-mode {
    overflow: unset;
    -webkit-box-shadow: unset;
    box-shadow: unset;
}

.report-btn {
    margin: 50px 0px 60px 0px;
    background-color: #4377F1;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    color: white;
    width: 30%;
    line-height: 50px;
    font-size: 17px;
}